<% @artworks.photo.each do |artwork| %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill  %>
    <% end %>
    <div class="card-infos">
      <div>
        <% @artworks.each do |artwork| %>
          <h2><%= artwork.title %></h2>
          <h2><%= artwork.author %></h2>
          <%# <%= link_to artwork.author, user_id_path a finir day 4%>
          <p>Short description here!</p>
        <% end %>
      </div>
    </div>
