h1{
  text-align: center;
  margin-bottom: 20px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 8px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}

.container {
    vertical-align: center;
}

.card-trip > img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos > h2 {
  padding: 10px;
}

.card-trip-infos {
  line-height: 30px;
  padding: 0px 20px;
}

.show-artwork-details {
  margin-bottom: 30px;
}

.card-desc-placeholder {
  font-weight: bold;
}
.card-desc-real-data {
  font-style: italic;
  color: gray;
}

.card-trip-pricing {
  text-align: center;
  font-size: 20px;
}
.btn-show {
  text-align: center;
  display: block;
}
