.navbar-lewagon {
  justify-content: space-between;
  background: #DE8609;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.welcome {
color: white;
font-weight: bold;
margin-right: 10px;
margin-top: 7px;
}
