.card-booking {
  border: 2px solid #c1c1c1;
    width: 600px;
    border-radius: 21px;
    overflow: hidden;
    text-align: center;
  img {
    width: 100%;
  }
}

.simple_form {
  text-align: center;
}
